exportClasses(BinaryOptions)
exportClasses(CommonOptions)
exportClasses(ContingencyOptions)
exportClasses(ContinuousOptions)
exportClasses(strategy)
export(cocluster)
export(cocluststrategy)
exportMethods(plot)
exportMethods(summary)
exportPattern("^[[:alpha:]]+")
importFrom(graphics,plot)
useDynLib(blockcluster)
